
/* src/Cart/clienteCarrito.css */
.table th,
.table td {
  vertical-align: middle;
}
.btn-outline-danger,
.btn-outline-success {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}

@media (max-width: 992px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    background: #fff;
  }
  .table td {
    text-align: left;
    position: relative;
    padding: 8px 10px;
  }
  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #A4001D;
    display: block;
    margin-bottom: 4px;
  }
}

/* El contenedor ocupa toda la pantalla y centra el contenido */
.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    z-index: 1055;           /* Asegura que esté al frente */
}

/* El contenido del modal */
.custom-modal-content {
    background: white;
    width: 90%;
    max-width: 400px; /* Tamaño del modal */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}